@import url(./app/music-txt.css);
@import url(./app/music-img.css);

/* Main início */
.main{
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.esquerda,
.direita{
  font-size: var(--size-txt);
  line-height: normal;
  width: 50%;
  padding: var(--padding-secoes);
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
}

.esquerda.informacoes-apresentacao,
.direita.exemplo-apresentacao{
  border-top: unset;
}

.main--music-img{
  background: url(../../img/background/bckg-music-img.png) center / cover no-repeat;
}

.main--music-txt{
  background: url(../../img/background/bckg-music-txt.png) center / cover no-repeat;
}

.main--music-img,
.main--music-txt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: unset;
}

.main--music-txt p,
.main--music-img p{
  font-family: var(--fonte-titulo-app);
  font-size: var(--size-titulo-app);
  font-weight: 700;
}

.divisor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bckg-divisor);
  padding: var(--padding-divisor);
  border-radius: 50%;
  font-weight: 800;
  font-size: 1.875rem;
}

.divisor span{
  background-image: var(--divisor-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Seções */
.informacoes-apresentacao{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.titulo-app{
  font-family: var(--fonte-titulo-app);
  font-size: var(--size-titulo-app);
  font-weight: 700;
}

.descricao-titulo-app{
  font-size: var(--size-txt-descricao-titulo);
  font-weight: 600;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
}

.botao{
  font-size: var(--size-txt-botao);
  padding: 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: background 0.3s ease-in-out;
}

.botao:focus,
.botao:hover{
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:  0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.exemplo-apresentacao, 
.gerando-card{
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.dados-geracao-card{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.titulo-secao, 
.titulo-destaque{
  font-size: var(--size-titulo-secao-e-destaque);
  font-weight: 600;
  /* padding: 1rem 0; */
  padding-bottom: 1rem;
}

.formulario{
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Grupo de formulário */
.form-grupo{
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.label{
  margin-bottom: 1rem;
}

.label .label-principal{
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: var(--size-txt-label-principal);
}

.label .label-informacoes{
  display: block;
  font-size: 1rem;
}

.input-grupo{
  border-radius: 5px;
}

.input-texto{
  display: block;
  padding: 0.75rem;
  border-radius: 5px;
  width: calc(100% - 3rem);
  transition: border-color 0.2s ease-in-out;
}

.label-input-color{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.input-color{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
}

.input-file{
  position: absolute;
  opacity: 0;
}

/* Grupo encerramento */
.div-grupo{
  padding-top: 2rem;
  padding-bottom: 2.25rem;
  position: relative;
}

.titulo-destaque{
  margin-bottom: 0.75rem;
}

.botao-portfolio{
  display: block;
  text-align: center;
}

/* Feedback Upload */
.feedback-upload{
  border: 1px solid var(--border-feedback-upload);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  min-height: 4rem;
}

.feedback-upload--destaque{
  color: var(--cor-txt-destaque);
}

.feedback-upload--img{
  width: 75px;
  height: 100%;
}

.feedback-upload--txt-confirmacao{
  margin-left: 1rem;
  font-size: 1rem;
}

/* Rodapé */
.rodape{
  margin-top: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 1140px) {
  .main--music-img,
  .main--music-txt{
    height: 50vh;
  }

  .esquerda,
  .direita{
    width: 100%;
  }

  .esquerda.informacoes-apresentacao,
  .esquerda.dados-geracao-card{
    min-height: 100vh;
  }

  .direita{
    display: none;
  }
  
  .direita.main--music-txt,
  .direita.card-final{
    display: flex;
  }
}

@media screen and (max-width: 680px) {
  .feedback-upload--txt-confirmacao span{
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .botao-carregar-img span{
    display: none;
  }

  .botao-carregar-img i::after{
    content: "Carregar imagem";
    margin-left: 0.25rem;
    font-style: normal;
  }
}