/* Card de música */
.efeito{
  display: block;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(20px);
  position: absolute;
}

.card{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: unset;
  min-height: 600px;
  max-height: 600px;
  min-width: 500px;
  max-width: 500px;
  border: unset;
  padding: 1.5rem;
  box-sizing: border-box;
  position: relative;
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
}

.card .imagem{
  border: unset;
  border-radius: inherit;
  width: 500px;
  height: 600px;
  top: 0;
  left: 0;
  /* z-index: 0; */
  position: absolute;
}

.card .imagem.hidden{
  visibility: hidden;
}

.card--logo-app{
  font-family: var(--fonte-titulo-app);
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
  /* z-index: 1; */
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.card--informacoes{
  color: #FFF;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
  width: calc(inherit - 1.5rem);
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  left: 1.5rem;
}

.card--informacoes--versos{
  font-family: 'Inter Tight', 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.card--informacoes--autoria{
  font-size: 1.5rem;
  font-weight: 600;
}

.card--informacoes--autoria .autor{
  text-transform: uppercase;
}

.card--informacoes--autoria .autor::after{
  content: " - ";
}

.card--informacoes--autoria .nome-musica{

}