#modal-compartilha .modal-content{
  border-radius: 10px !important;
}

#modal-compartilha .modal-body .icone{
  font-size: 2rem;
  color: var(--cor-icone-modal);
}

#modal-compartilha .modal-body h5{
  color: var(--cor-h5-modal);
  margin: 0.5rem 0;
  font-weight: 700;
}

#modal-compartilha .modal-body input{
  box-shadow: unset;
}

#modal-compartilha .modal-body p{
  margin-top: 5px; 
  margin-bottom: 2.5px;
}

#modal-compartilha .feedback-message{
  display: none;
  padding: 0.5em;
  border-radius: 5px;
  transition: all 400ms;
  text-align: center;
}

#modal-compartilha #link-compartilhamento{
  border: 1px dashed var(--cor-borda-link-modal) !important;
}

button#button-addon-link-copy{
  border: 1px dashed var(--cor-borda-botao-modal) !important;
}

#modal-compartilha .error{
  color: var(--cor-txt-modal);
  background-color: var(--bckg-botao-modal-erro);
}

#modal-compartilha .warning{
  color: var(--cor-txt-modal);
  background-color: var(--bckg-botao-modal-alerta);
}

#modal-compartilha .success{
  color: var(--cor-txt-modal);
  background-color: var(--bckg-botao-modal-sucesso);
}