/* Mains de passos/estados do Music.img */
.music-img{
  background: var(--bckg-music-img);
}

.informacoes-apresentacao{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.titulo-app{
  font-family: var(--fonte-titulo-app);
  font-size: var(--size-titulo-app);
  font-weight: 700;
}

.descricao-titulo-app{
  color: var(--cor-txt-descricao-titulo-app);
  font-size: var(--size-txt-descricao-titulo);
  font-weight: 600;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
}

.botao{
  background-color: var(--bckg-botao-music-img);
  color: var(--cor-txt-botao-music-img);
  font-size: var(--size-txt-botao);
  padding: 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: background 0.3s ease-in-out;
}

.botao:focus,
.botao:hover{
  /* background-color: #69CAC1; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:  0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.exemplo-apresentacao, 
.gerando-card{
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.dados-geracao-card{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.titulo-secao, 
.titulo-destaque{
  font-size: var(--size-titulo-secao-e-destaque);
  font-weight: 600;
  color: var(--cor-titulo-secao);
  padding: 1rem 0;
}

.formulario{
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Grupo de formulário */
.form-grupo{
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.label{
  margin-bottom: 1rem;
}

.label .label-principal{
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: var(--size-txt-label-principal);
}

.label .label-informacoes{
  display: block;
  font-size: 1rem;
}

.input-grupo{
  background-color: var(--bckg-input);
  border-radius: 5px;
}

.input-texto{
  display: block;
  padding: 0.75rem;
  border: 3.5px solid var(--border-input);
  border-radius: 5px;
  width: calc(100% - 3rem);
  transition: border-color 0.2s ease-in-out;
}

.input-texto::placeholder{
  color: var(--txt-placeholder-input);
}

.input-texto:focus{
  border-color: var(--border-input-focus);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  /* -webkit-text-fill-color: initial; */
  /* -webkit-box-shadow: 0 0 0px 1000px var(--bckg-input) inset; */
}

.label-input-color{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.input-color{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
}

.input-file{
  position: absolute;
  opacity: 0;
}

/* Grupo encerramento */
.div-grupo{
  padding-top: 2rem;
  padding-bottom: 2.25rem;
  position: relative;
  border-bottom: 1px dashed var(--cor-borda-div-grupo);
}

.titulo-destaque{
  margin-bottom: 0.75rem;
}

.botao-portfolio{
  display: block;
  text-align: center;
}

/* Exemplo de apresentação */

main.music-img .exemplo-apresentacao{
  background: url(../../img/background/bckg-card-exemplo-music-img.png) center / cover no-repeat;
  position: relative;
}

main.music-img .exemplo-apresentacao .card{
  background: url(../../img/background/bckg-card-exemplo-music-img.png) center / cover no-repeat;
  /* backdrop-filter: blur(0px); */
}

@media screen and (max-width: 375px) {
  .botao-carregar-img span{
    display: none;
  }

  .botao-carregar-img i::after{
    content: "Carregar imagem";
    margin-left: 0.25rem;
    font-style: normal;
  }
}