.preview-botao{
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1;
  font-size: 1.75rem;
  padding: 0.75rem 0.95rem;
  color: var(--txt-botao-preview);
  background-color: var(--bckg-botao-preview);
  backdrop-filter: blur(10px);
  border: 1px solid var(--cor-borda-botao-preview);
  border-radius: 50%;
}

@media screen and (max-width: 1140px) {
  .preview-botao{
    display: block;
  }
}